body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

#root {
  flex-direction: column;

  #match-result {
    text-align: center;
  }
}
